* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

nav {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center; 
    background-color: #0CC0DF;
    height: auto;
    width:100%;
}

nav .logo img {
    width: 90px;
    height: 90px;
    margin-left: 48px;
    margin-top: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

nav .links ul {
    display: flex; 
    flex-direction: row; 
    list-style: none; 
    padding-right: 48px;
}

nav .links ul li {
    margin-right:48px;
    font: 20px 'Inter', sans-serif;
}

nav .links ul li a {
    color: #0E3238; 
    text-decoration: none;
}

nav .links ul li a:hover {
    text-decoration: underline;
}

.section {
    display: flex;                
    justify-content:center; 
    flex-direction: row;  
    gap: 10px;     
    margin:35px 48px;  
    box-sizing:border-box ;                        
}
.section img {
    border-radius: 30px;
    width: 320px;
    height:200px;
}
.section video {
    width:320px;
    height:200px;
    box-sizing:border-box ;
}
.section p {
    width: 97%;
    margin:0px 10px;
    color: #396A73;
    font-size: 16px;
}
.section ul {
    margin-left: 30px;
    color: #396A73;
    font-size: 16px;
}
.section h2{
    padding: 15px;
    font-size:24px;
    color: #0E3238;
    font-weight: normal;
}
.last-section {
    justify-content: flex-start;
}
hr {
    border: none; 
    height: 1px; 
    background-color: #C3D6D9; 
    margin: 15px auto; 
    width: 93%;
}
footer {
    background-color: #0CC0DF;
    color: #0E3238;
    margin-top: 20px;
    position: relative;
    height : auto;
    font-size: 20px;
    width:100%;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer .contact {
    display: flex;
    flex-direction: column; 
    text-align: left; 
    flex: 1;
    margin-left: 48px;
}
footer .contact #text {
    color:#0E3238;
    font-size: 20px;
    margin-bottom: 5px;
}
footer a {
    color: #0E3238; 
}
footer .logo {
    flex: 1; 
    text-align: center;
}

footer .logo img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-top: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

footer .social-media {
    flex: 1;
    text-align: right;
    margin-right: 44px;
}
footer .social-media p {
    padding-right: 100px;
    padding-bottom: 5px;
    padding-top: 5px;
    color:#0E3238;
    font-size: 20px;
}
footer .social-media a img {
    width: 50px;
    margin: 0 4px;
    border-radius: 30%;
}
/* Tablet Portrait */
@media (max-width: 1023px) and (min-width: 768px) and (orientation: portrait) {
    * {
        box-sizing: border-box;
    }
    nav {
        padding:0px 32px;
        padding-bottom: 35px;
        margin:0px;
    }
    nav .links ul li {
        margin:0px;
        margin-left: 32px;
    }
    nav .logo img {
        margin-left: 0px;
    }
    
    nav .links ul {
        padding-right: 0px;
    }
    .section {   
        width:100%;
        margin:0px;
        padding:5px 32px; 
        gap:10px;                     
    }
    .section video {
        width:180px;
        height:220px;
        box-sizing:border-box ;
        margin-top: -30px;
    }
    .section img {
        width: 180px;
        height:240px;
        padding: 10px;
    }
    .section p {
        width: 100%;
        padding:10px 0px;
    }   
    .section h2{
        padding: 15px 10px;
        margin:0px;
        margin-bottom: -10px;
    }
    footer {
        height : auto;
        width:100%;
        font-size: 20px;
        padding:0px 32px;
        margin-top: 20px;
    }    
    footer .social-media p {
        padding:0px;
    }
    footer .contact {
        margin:0px;
        padding:0px;
    }
    
    .logo img {
        width: 50px;
        height: 50px;
        margin:0px;
        padding:0px;
    }
    footer .social-media a img {
        width: 25px;
        height:25px;
    }
    footer .social-media {
        margin-right: 0px;
   }
}

/* Tablet Landscape */
@media (max-width: 1023px) and (min-width: 768px) and (orientation: landscape) {
    * {
        box-sizing:border-box;
    }
    nav {
        margin:0px;
        padding:0px;
        padding:0px 32px;
        
    }
    nav .links ul li {
        margin:0px;
        margin-left: 32px;
    }
    nav .logo img {
        margin-left: 0px;
    }
    
    nav .links ul {
        padding-right: 0px;
    }
    .section {   
        width:95%;
        margin:10px 32px; 
        gap:10px;                     
    }
    .section video {
        width:200px;
        height:160px;
        box-sizing:border-box ;
    }
    .section img {
        width: 225px;
        height:160px;
        padding: 10px;
    }
    .section p {
        width: 100%;
        padding:10px 0px;
    }   
    .section h2{
        padding: 10px 10px;
        margin:0px;
    }
    footer {
        height : auto;
        width:100%;
        font-size: 20px;
        padding:0px 32px;
        margin-top: 0px;
    }    
    footer .social-media p {
        padding:0px;
    }
    footer .contact {
        margin:0px;
        padding:0px;
    }
    
    .logo img {
        width: 50px;
        height: 50px;
        margin:0px;
        padding:0px;
    }
    footer .social-media a img {
        width: 25px;
        height:25px;
    }
    footer .social-media {
        margin-right: 0px;
   }
}

/* Mobile Portrait */
@media (max-width: 767px) and (min-width: 320px) and (orientation: portrait) {
    * {
        box-sizing:border-box ;
    }
    nav .links ul {
        flex-direction: row;
        padding:0px;
    }
    nav .links ul li {
        font-size: 12px;
        margin:0px;
        margin-left: 5px;
    }
    nav {
        margin:0px;
        padding:0px;
        padding:0px 10px;
        width:100%;
        margin-bottom:20px;
    }
    nav .logo img {
        margin-left: 0px;
    }
    .section { 
        display: flex;                
        justify-content:center; 
        flex-direction: column;    
        width:93%;
        margin:5px 10px; 
        gap:5px;                     
    }
    .section video {
        width: 100%;
        height:auto;
        padding: 0px;
        box-sizing:border-box ;
    }
    .section img {
        width: 100%;
        height:auto;
        padding: 0px;
    }
    .section p {
        width: 100%;
        padding:0px;
        font-size: 12px;
    }   
    .section h2{
        padding: 0px 10px;
        margin:0px;
        font-size: 16px;
    }
    .section ul {
        font-size: 12px;
    }

      footer {
        width:100%;
        margin:0px;
        padding:0px;
        margin-top: 10px;
        font-size: 12px;
        padding:0px 10px;
    }    
    footer .social-media p {
        padding:2px 0px;
        font-size: 12px;
        padding-right:0px;
    }
    footer .contact {
        margin:0px;
        padding:0px;
        font-size: 12px;
    }
    footer .contact #text {
        font-size: 12px;
    }

    nav .logo img, footer .logo img {
        width: 40px;
        height: 40px;
        margin:0px;
        padding:0px;
    }

    footer .social-media a img {
        width: 18px;
        height:18px;
        padding:0px;
        margin: 0 1px;
    }
    footer .social-media {
        padding:0px;
        margin:0px;
   }
}

/* Mobile Landscape */
@media (max-width: 767px) and (min-width: 320px) and (orientation: landscape) {
    * {
        box-sizing: border-box;
    }
    nav .links ul {
        flex-direction: row;
        padding:0px;
    }
    nav .links ul li {
        font-size: 12px;
        margin:0px;
        margin-left: 32px;
    }
    nav {
        margin:0px;
        padding:0px;
        padding:0px 15px;
        width:100%;
    }
    nav .logo img {
        margin-left: 0px;
    }
    .section {   
        width:95%;
        margin:20px 10px; 
        gap:5px;                     
    }
    .section video {
        width: 175px;
        height:130px;
        padding: 0px;
        box-sizing:border-box ;
    }
    .section img {
        width: 175px;
        height:140px;
        padding: 0px;
    }
    .section p {
        width: 100%;
        padding:0px;
        font-size: 12px;
    }   
    .section h2{
        padding: 0px 10px;
        margin:0px;
        margin-bottom:15px;
        font-size: 16px;
    }
    .section ul {
        font-size: 12px;
    }

      footer {
        width:100%;
        margin:0px;
        padding:0px;
        margin-top: 10px;
        font-size: 12px;
        padding:0px 15px;
    }    
    footer .social-media p {
        padding:2px 0px;
        font-size: 12px;
        padding-right:0px;
    }
    footer .contact {
        margin:0px;
        padding:0px;
        font-size: 12px;
    }
    footer .contact #text {
        font-size: 12px;
    }

    nav .logo img, footer .logo img {
        width: 40px;
        height: 40px;
        margin:0px;
        margin-top:2px;
        padding:0px;
    }

    footer .social-media a img {
        width: 18px;
        height:18px;
        padding:0px;
        margin: 0 1px;
    }
    footer .social-media {
        padding:0px;
        margin:0px;
   }
}